<main>
    <div class="optionstab">
        <ang-company-sort 
            (sortChanged)="sortChangeHandler($event)"
        ></ang-company-sort>
        <ang-company-filter
            [companyTypes] = "companyTypes"
            [companyIndustries] = "companyIndustries"
            (nameFilterChanged)="nameFilterChangeHandler($event)"
            (industryFilterChanged)="industryFilterChangeHandler($event)"
            (typeFilterChanged)="typeFilterChangeHandler($event)"
        ></ang-company-filter>
    </div>
    <div>
    <ang-company-item *ngFor="let item of filteredCompanies" [card]="item"></ang-company-item>
    </div>
</main>
