<input 
    [formControl]="nameControl"
    placeholder = "--- Фильтр по названию ---"
/>
<select    
    [formControl]="industryControl"
>
    <option value="" selected>--- Фильтр по видам ---</option>
    <option *ngFor="let item of companyIndustries" value="{{item}}">{{ item }}</option>
</select>
<select
    [formControl]="typeControl"
>    
    <option value="" selected>--- Фильтр по типам ---</option>
    <option *ngFor="let item of companyTypes" value="{{item}}">{{ item }}</option>
</select>

